/* global structure */
.container {
  padding-right: 0;
  padding-left: 0;
}

.header {
  background-color: blanchedalmond;
  height: 50px;
}

.footer {
  background-color: gold;
  height: 30px;
}

.main {
  background-color: burlywood;
  height: calc(100vh - 50px - 30px);
}

/* to prevent scrollbar display */
.main::-webkit-scrollbar {
  width: 0;
  height: 0;
}
