@import 'src/styles/vars';

.player-info__info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: .2rem;
  color: $white-100;
}
.player-info__avatar-container {
  width: 100%;
  height: 150px;
  img {
    display: block;
    margin: 0 auto;
  }
}
.player-info__bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: .8rem;
}
.player-info__bar-container>div {
  max-width: 320px;
  margin: auto;
}

.MainAbilities__container,
.AdvancedAbilities__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: .5rem;
  color: $white-100;
}


.player-bar {
  min-width: 280px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow:  -4px 4px 22px $info-lower-shadow, 
             4px -4px 22px $info-upper-shadow;
  border: solid 1px $white-100;
}

.player-info {
  border-radius: 10px;
  background-color: $info-background;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content : center;
  
  &__avatar {
    height: 100%;
    border: solid 1px $white-100;
    border-radius: 2px;
    box-shadow:  -3px 3px 10px $info-lower-shadow, 
             3px -3px 10px $info-upper-shadow;
  }
  &__hp{
    color: $white-100;
    margin-right: 15px;
    align-self: center;
  }
  &__counter {
    color: $white-100;
    align-self: center;
    font-size: small;
    font-weight: 600;
    padding-top: 15px;
    padding-right: 7px;    
  }
}

.progress {
  height: 20px;
  width: 100%;  
  align-self: center;
  background-color: $HP-progress-color;
}

.ressource-info__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  P {
    margin: .5rem;
  }
}

/* === Tablets === */
@media screen AND (min-width: 768px) {

  .progress {
    height: 30px;
  }

  .player-info__avatar-container {
    width: 150px;
  }
  .player-info__info-container,
  .player-info__bar-container {
    width: 50%;
  }
  .player-info__info-container {
    padding: .8rem;
  }
  .player-info {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 150px;
    &__counter {
      color: $white-100;      
      font-size: larger;
      font-weight: 600;
      padding-top: 15px;
      padding-right: 15px;    
    }
  }
}

/* === Large screens === */
@media screen AND (min-width: 1024px) {
  .progress {
    height: 40px;
    align-self: center;
  }

  .player-info {
    &__counter {
      color: $white-100;      
      font-size: larger;
      font-weight: 600;
      padding-top: 15px;
      padding-right: 25px;    
    }
  }
}
