@import 'src/styles/vars';

.main__play {
  margin: auto;
  justify-content: space-between;
  background: $black-60;
  border-radius: 15px;
  min-width: 280px;
  max-width: 900px;
  width: 100%;
  color: $white-100;
  padding: 1em;

  .button__container a {
    margin: 0 2rem 0 auto;
  }
}

.game-launcher__btn {
  box-shadow:  -4px 4px 16px $game-launcher-lower-shadow, 
  4px -4px 16px $generic-button-upper-shadow;
  min-width: 258px;
  width: fit-content;  
  font-size: 0.7rem;
  // margin-bottom: 75px;
  text-size-adjust: initial;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.game-launcher {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-images {
  border-radius: 10px;
  height: 50px;
  margin-right: 15px;
  box-shadow:  -4px 5px 10px $game-launcher-lower-shadow, 
  4px -4px 10px $generic-button-upper-shadow;  
}

.play-text {
  margin: 0;
  align-self: center;
  font-size: large;
}

/* === medium screen === */
@media screen AND (min-width: 768px) {
  .main__play {
    width: 80%;
    box-shadow: inset 0em 3em $play-inset,
                0 0 1em $play-halo,
                0 0 2em $play-halo,
                0 0 4em $play-halo,
                0 0 8em $play-halo;
    padding: 0 1em 1em;
  }
}

/* === large screen === */
@media screen AND (min-width: 992px) {
  .main__play {
    max-width: 900px;
    box-shadow: inset 0em 3.5em $play-inset,
                0 0 1em $play-lower-halo,
                0 0 2em $play-halo,
                0 0 4em $play-halo,
                0 0 8em $play-halo;
  }

  .game-launcher__btn:hover { 
    background: $generic-button-background;
    border-radius: 10px;
    border-color: $generic-button-background;
    color: $generic-button-background;
    font-size: 0.7rem;
    font-weight: 900;  
    box-shadow:  -4px 4px 16px $game-launcher-lower-shadow, 
               4px -4px 16px $generic-button-upper-shadow-hover;
    position: relative;
    text-align: center;
  }
}
