@import 'src/styles/vars';


.game-launcher {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__btn {
    margin: 1rem;
    min-width: 260px;
    width: fit-content;  
    font-size: 0.7rem;
    font-weight: 600;
    text-size-adjust: initial;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }
}

.play-images {
  border-radius: 10px;
  height: 50px;
  margin-right: 15px;
  box-shadow:  -4px 5px 10px $game-launcher-lower-shadow, 
  4px -4px 10px $generic-button-upper-shadow;  
}

.play-text {
  margin: 0;
  align-self: center;
  font-size: large;
}

/* === large screen === */
@media screen AND (min-width: 768px) {

  .game-launcher {
    &__btn {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
