@import 'src/styles/vars';

/* === Death === */
.death__p {
  padding: 1em;
  justify-content: flex-start;
}

/* === Replay button === */
.replay__button {
  width: 25%;
  max-width: 220px;
  min-width: 140px;
  padding: 0.25em 0;
  background: $generic-button-background;
  border-radius: 10px;
  border-color: $generic-button-background;
  color: $generic-button-background; 
  box-shadow:  -4px 4px 16px $generic-button-lower-shadow, 
  4px -4px 16px $generic-button-upper-shadow;
  align-content: center;
  margin: 0 auto;
}


/* === medium screen === */
@media screen AND (min-width: 768px) {
  .death__p {
    padding-top: 2em;
    font-size: 1.6em;
  }
}

/* === large screen === */
@media screen AND (min-width: 992px) {

  .death__p {
    padding: 2em;
    font-size: 1.8em;
  }

  .replay__button {
    transition-duration: 0.35s;
    transition-property: border-color, background-color, box-shadow, color;
  }

  .replay__button:hover { 
    background: $generic-button-background;
    color: $generic-button-background; 
    box-shadow:  -4px 4px 16px $generic-button-lower-shadow, 
                 4px -4px 16px $generic-button-upper-shadow-hover;
  }

}
