@import 'src/styles/vars';
.train {
  &__button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 1rem;
  }
  &__button {
    width: 70%;
    margin: 1em auto;
  }
}

@media screen AND (min-width: 768px) {
  .train {
    &__button-container {
      margin: 0 -1.5rem;
      padding: 1rem .1rem;
    }
  }
}

/* === large screen === */
@media screen AND (min-width: 992px) {
  .train {
    &__button {
      padding: 0.25em;
      width: 40%;
    }
  }
}
