@import 'src/styles/vars';
.train {
  &__button-container {
    margin-top: -1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}

@media screen AND (min-width: 768px) {
  .train {
    &__button-container {
      margin: 0 -1.5rem;
      padding: 1rem .1rem;
    }
  }
}

