@import 'src/styles/vars';

.combat__presentation {
  text-align: center;
  margin: 1rem 0;
}

.combat__choices {
  margin: auto;
  display: flex;
  justify-content: center;
  
  .choice {
    width: 100px;
    margin: 0 1rem;
    border: 1px solid #FFF;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:hover {
      color: #FFF;
      background-color: #F0F;
    }
  }
}

@media screen AND (min-width: 530px) {
  .combat__container {
    .MainAbilities__container,
    .AdvancedAbilities__container{
      width: 140px;
    }
    .MainAbilities__container {
      margin-right: 0;
    }
    .AdvancedAbilities__container{
      margin-left: 0;
    }
  }
}

/* === Tablets === */
@media screen AND (min-width: 768px) {

  .combat__container {
    padding: 1rem 1rem 0;

    .combat__presentation {
      margin: 25px 0;
    }

    .combat__choices {
      width: 60%;
      .choice {
        width: 200px;
      }
    }
  }
}

/* === Large screens === */
@media screen AND (min-width: 1024px) {

  .combat__presentation {
    margin: 35px 0;
  }
}
