@import 'src/styles/vars';

.AdvancedInfo__container {
  color: $white-100;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.MainAbilities__container,
.AdvancedAbilities__container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
