@import 'src/styles/vars';

.hub {
  &__button-container {
    margin-top: -1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}

@media screen AND (min-width: 768px) {
  .hub {
    &__button-container {
      margin-top: 0;
    }
  }
}

@media screen AND (min-width: 992px) {
  .hub {
    &__button-container {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
