@import 'src/styles/vars';

.create-character-container {

  h2.create__title {
    text-align: center;
    padding-top: 0.5rem;
    margin: 0;
  }

  .main__play {
    .button__container {
      width: 30%;
      min-width: 140px;
      margin: 1rem 0;
      height: 40px;
      .validate__button {
        width: 100%;
        margin: auto;
        padding: 0.25em 0;
        box-shadow:  -4px 4px 16px $generic-button-lower-shadow, 
        4px -4px 16px $generic-button-upper-shadow;
      }
    }
  }
  
  .main__play__title {
    font-size: 1.8em;
    text-align: center;
  }

  /* === Ability pool === */
  .ability_pool__container {
    width: 100%;
    font-size: 1.3em;
    font-weight: 700;
    padding-left: 1em;
    border-radius: 5px;
    max-width: 450px;
    margin-bottom: 1rem;
  }

  .ability_main__container p {
    margin-bottom: 0;
  }

  .ability_pool__text {
    margin-top: 1rem;
    text-align: center;
    color: orange;
  }

  .ability_main__container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* === Ability container === */
  .ability__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    margin: 0.5em 0;
    font-size: 1.2em;
    align-items: center;
  }

  .ability__button{
    display: flex;
    margin: 0 1em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    justify-content: center;
    border: 1px solid transparent;
    line-height: 100%;
  }

  .ability__button:focus{
    outline: none !important;
    outline-offset: none !important;
  }

  .ability__value, .ability_pool__value {
    padding-left: 1em;
    width: 5%;
  }

  .ability {
    width: 40%;
    padding-left: 1em;
  }

  .ability__image {
    width: 1.2em;
    height: 1.2em;
  }

}

/* === medium screen === */
@media screen AND (min-width: 768px) {

  .create-character-container {

    .main__play {
      .button__container {
        min-width: 200px;
        height: 70px;
        margin: 1.6rem 0;
      }
    }

    .title__container { 
      margin-bottom: 1.6rem;
    }

    .main__play__title {
      font-size: 2em;
    }

    .ability_pool__container {
      max-width: none;
      font-size: 1.8em;
      border-radius: 5px;
      margin-bottom: 0;
    }

    .ability__container {
      min-width: 590px;
      font-size: 1.8em;
      margin: 1rem auto 0 auto;
    }

    .ability__button {
      width: 1.4em;
      height: 1.4em;
      border-radius: 50%;
    }

    .ability__image {
      width: 2em;
      height: 2em;
    }

    .validate__button {
      font-size: 1.8em;
    }
  }
}


/* === large screen / desktop === */
@media screen AND (min-width: 992px) {

  .create-character-container {

    .main__play {
      min-width: 800px;
      .button__container {
        min-width: 200px;
        height: 80px;
        margin: 1.6rem 0;
        .validate__button {
          font-size: 2.5em;
          transition-duration: 0.3s;
          transition-property: border-color, background-color, box-shadow, color;
          padding: 0.1rem 0;
        }
        .validate__button:hover {
          background-color: $generic-button-background;
          color: $generic-button-background; 
          box-shadow:  -4px 4px 16px $generic-button-lower-shadow, 
                      4px -4px 16px $generic-button-upper-shadow-hover;
        }
      }
    }

    .main__play__title {
      font-size: 2.5em;
    }

    .ability_pool__container {
      font-size: 2.2em;
    }

    .ability__container {
      min-width: 760px;
      font-size: 2.2em;
      margin: .5rem auto 0 auto;
    }

    .ability__button {
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
      transition-duration: 0.3s;
      transition-property: background-color, color, transform ;
    }

    .ability__button:hover{
      background-color: grey;
      color: $white-100;
      transform: scale(1.4);
    }
  }
}

