.main__play__title {
  font-size: 1.8em;
  text-align: center;
}

/* === Ability pool === */
.ability_pool__container {
  width: 100%;
  font-size: 1.3em;
  font-weight: 700;
  padding-left: 1em;
  border-radius: 5px;
}

/* === Ability container === */
.ability__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 300px;
  max-width: 450px;
  margin: 0.5em 0;
  font-size: 1.2em;
  align-items: center;
}

.ability__button{
  display: flex;
  margin: 0 1em;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  justify-content: center;
  border: none;
  line-height: 100%;
}

.ability__value, .ability_pool__value {
  padding-left: 1em;
  width: 5%;
}

.ability {
  width: 40%;
  padding-left: 1em;
}

.ability__image {
  width: 1.2em;
  height: 1.2em;
}

/* === Validate button === */
.button__container {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.validate__button {
  width: 25%;
  max-width: 220px;
  min-width: 140px;
  padding: 0.25em 0;
  background: rgba(238, 236, 236, 0.4);
  border-radius: 10px;
  border-color: rgba(238, 236, 236, 0.4);
  color: rgb(248, 250, 250); 
  box-shadow:  -4px 4px 16px #2f3030, 
  4px -4px 16px #b4b7b9;
}

/* === medium screen === */
@media screen AND (min-width: 768px) {
  .main__play__title {
    padding-top: 0.2em;
    font-size: 2em;
  }

  .ability_pool__container {
    max-width: none;
    font-size: 2em;
    border-radius: 5px;
  }

  .ability__container {
    min-width: 620px;
    font-size: 2em;
    margin: 1em auto 0 auto;
  }

  .ability__button {
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
  }

  .ability__image {
    width: 2em;
    height: 2em;
  }

  .validate__button {
    max-width: 500px;
    font-size: 2em;
    margin: 1em 0;
  }
}


/* === large screen / desktop === */
@media screen AND (min-width: 992px) {
  .main__play__title {
    padding-top: 0.2em;
    font-size: 2.6em;
  }

  .ability_pool__container {
    font-size: 2.6em;
  }

  .ability__container {
    min-width: 800px;
    font-size: 2.6em;
   }

  .ability__button {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    transition-duration: 0.35s;
    transition-property: background-color, color, transform ;
  }

  .ability__button:hover{
    background-color: grey;
    color: white;
    transform: scale(1.4) rotate(360deg);
  }
  
  .validate__button {
    font-size: 2.6em;
    margin-bottom: 1em;
    transition-duration: 0.35s;
    transition-property: border-color, background-color, box-shadow, color;
  }

  .validate__button:hover {
    background-color: rgba(238, 236, 236, 0.4);
    color: rgb(248, 250, 250); 
    box-shadow:  -4px 4px 16px #2f3030, 
                 4px -4px 16px #9abbcb;
  }
}

