/* === global structure === */
.app {
  font-family: sans-serif;
  background-image: url('https://cdn.pixabay.com/photo/2016/09/16/17/10/science-fiction-1674554_960_720.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  height: 96px;
}

.main {
  // background-color: blue;
  min-height: calc(100vh - 146px);
  /* 90 = 50(footer) + 96 (header) */
}

.footer {
  background-color: green;
  height: 50px;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid #FFF;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* === large screen === */
@media screen AND (min-width: 992px) {
  .header {
    height: 108px;
  }
  .main {
    min-height: calc(100vh - 138px);
    max-height: calc(100vh - 138px);
    /*138 = 30(footer) & 108(header) */
  }
}
