@import 'src/styles/vars';

/* === global structure === */
.app {
  height: 100%;
  font-family: sans-serif;
  background-image: url('../../assets/images/samuel-guerrouche-screenshot001.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.app > * { 
  min-width: 300px; //vf
}

main > div {
  width:100%; //vf
  max-width: 1400px; //vf
  margin: auto;
}

.header {
  height: var(--header-height-mobile);
  position: fixed;
  top:0;
  width: 100%;
}

.main {
  position: absolute;
  top: var(--header-height-mobile);
  height: calc(100% - var(--header-height-mobile) - var(--footer-height));
  width: 100%;
  overflow-y: auto;
  display: flex;
  padding: 1em;
  justify-content: center; //vf
  align-items: flex-start; //vf
}

.footer {
  height: var(--footer-height);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  border-top: 1px solid #FFF;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* === medium screen === */
@media screen AND (min-width: 768px) {
  .footer {
    flex-direction: row;
  }}

/* === large screen === */
@media screen AND (min-width: 992px) {
  .header {
    height: var(--header-height-desktop);
  }

  .main {
    top: var(--header-height-desktop);
    height: calc(100% - var(--header-height-desktop) - var(--footer-height));
  }
  
  main>div {
    width:80%;
  }
}
