@import 'src/styles/vars';

/* === global structure === */
.app {
  height: 100%;
  font-family: sans-serif;
  background-image: url('../../assets/images/samuel-guerrouche-screenshot001.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.bg--404 {
  background-image: url('../../assets/images/mihai-muscan-42.jpg');
}

.bg--create {
  background-image: url('../../assets/images/mihai-muscan-4.jpg');
}

.bg--combat {
  background-image: url('../../assets/images/mihai-muscan-27-9.jpg');
}

.bg--sequence {
  background-image: url('../../assets/images/samuel-guerrouche-screenshot004.jpg');
}

.bg--hidden {
  background-image: url('../../assets/images/mihai-muscan-42.jpg');
}

.app > * { 
  min-width: 300px;
}

main > div {
  width:100%;
  max-width: 1400px;
  margin: auto;
}

.header {
  height: var(--header-height-mobile);
  position: fixed;
  top:0;
  width: 100%;
  z-index:10;
}

.main {
  position: absolute;
  top: var(--header-height-mobile);
  height: calc(100% - var(--header-height-mobile) - var(--footer-height));
  width: 100%;
  overflow-y: auto;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  height: var(--footer-height);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index:10;
}

/* === large screen === */
@media screen AND (min-width: 992px) {
  .header {
    height: var(--header-height-desktop);
  }

  .main {
    top: var(--header-height-desktop);
    height: calc(100% - var(--header-height-desktop) - var(--footer-height));
  }
  
  main>div {
    width:80%;
  }
}
