// == Import : local
@import 'reset';

// == Import : bootstrap
@import "~bootstrap/scss/bootstrap";


:root {
  --header-height-mobile: 50px;
  --header-height-desktop: 108px;
  --footer-height: 50px;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
