/* === Main Site === */
.play-button-main {
  background: rgba(238, 236, 236, 0.4);
  border-radius: 10px;
  border-color: rgba(238, 236, 236, 0.4);
  color: rgb(248, 250, 250); 
  box-shadow:  -4px 4px 16px #1b1b1b, 
  4px -4px 16px #b4b7b9;
  width: 30%;
  font-size: larger;
  font-weight: 900;
  margin-bottom: 100px;
}

.play-button-main:hover { 
  background: rgba(238, 236, 236, 0.4);
  border-radius: 10px;
  border-color: rgba(238, 236, 236, 0.4);
  color: rgb(248, 250, 250);
  font-weight: 900;
  box-shadow:  -4px 4px 16px #1b1b1b, 
               4px -4px 16px #9abbcb;
}

.card {
  margin: auto;
  background: rgba(238, 236, 236, 0.23);
  color: rgb(248, 250, 250);
  border-radius: 10px;
  box-shadow:  -4px 4px 16px #1b1b1b, 
  4px -4px 16px #b4b7b9;
}

.card:hover {
  margin: auto;
  background: rgba(238, 236, 236, 0.23);
  color: rgb(248, 250, 250);
  border-radius: 10px;
  box-shadow:  -4px 4px 16px #1b1b1b, 
               4px -4px 16px #9abbcb;
}

.card-img-top {
  width: 105px;
  height: 105px;
  align-self: center;
  margin-top: 5px;
  padding: 5px;
  border-radius: 59px;  
  box-shadow:  -4px 4px 16px #1b1b1b, 
  4px -4px 16px #b4b7b9;
}

.card-title {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/* === Main === */
/* == Home == */
.start-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-game__btn {
  color: #FFF;
  font-size: 4em;
}

.introduction,
.public-warning {
  margin: 2em 0;
}

.introduction__title {
  margin-bottom: 0.5em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.public-warning__title {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.introduction__content,
.public-warning__content {
  line-height: 1.4em;
}
