.field {
  position: relative;
  height: 4rem;
  margin: 1em 0.5em;
}

.field-label {
  color: grey;
  display: block;
  position: absolute;
  left: 1rem;
  top: 1.3rem;
  transition: transform .3s;
  margin-bottom: 0rem;
}
.field-input {
  height: 4rem;
  font-size: 1.2em;
  padding: .8rem 1rem;
  border-radius: .5rem;
  border: 2px solid white;
  width: 100%;
  color: black;
}
.field-input[type=text],
.field-input[type=password] {
  &:focus, &:not([value=""]) {
    padding-top: 2rem;
    // border-color: red;
    & + .field-label {
      transform: translateY(-1rem);
    }
  }
  
  &:not([value=""]) + .label {
    color: grey;
  }
}

.field--checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em;
}

.field--checkbox>* {
  position: static;
  height: unset;
  width: unset;
  margin-right: 0.4em;
}

.form-container {
  .form {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: inset 0em 3em rgba(100,255,200,0.7),
                0 0 1em rgba(100,255,200),
                0 0 2em rgba(100,255,200),
                0 0 4em rgba(100,255,200),
                0 0 8em rgba(100,255,200);
    padding: 0 1rem 1rem;
    border-radius: .25rem;
    width: 600px;
    max-width: 80%;
    margin: auto;
    .form__title {
      text-align: center;
      font-size: 2rem;
      margin: 1rem 0 2.5rem;
      color: white;
    }
    .actions {
      text-align: center;
      &-button {
        text-transform: uppercase;
        padding: 0.6rem 1rem;
        background-color: white;
        border-radius: 10px;
        color: black;
        border: 2px solid transparent;
        border-radius: 0.25;
        font-weight: 700;
        transition: .5s color, background-color;
        box-shadow: 0px 2px 2px rgba(100,255,200);
        &:hover {
          background-color: black;
          color: rgba(100,255,200);
          border: 2px solid rgba(100,255,200);
        }
        &:active{
          transform: translateY(2px);
          box-shadow: 0px 0px 2px rgba(100,255,200);
        }
      }
    }
  }
}
